@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500;600;700;800&display=swap');

.SLVHead {
    width: 100%;
    padding: 0 3%;
    min-height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .TagLine {
        h1 {
            color: $orange;
            font-family: 'Playpen';
            font-size: clamp(6rem, 4vw, 2rem);
            text-align: center;

            span{
                color:$white;
                
                
            }
        }
    }
    p{
        max-width: 700px;
        color: $white;
        text-align: center;
    }
    .main_btn{
        margin-top: 1rem;
    }
}

.WhoWeAre,
.TargetSectors,
.Careers,
.OurAffiliates {
    width: 100%;
    padding: 0 3%;
    h2 {
        color: $white;
        text-align: center;

        span {
            color: $orange;
        }
    }
}

.WhoWeAre {
    margin: 3rem 0 5rem 0;

    .WeAre {
        width: 100%;
        // min-height: calc(100vh - 5rem);
        height: auto;
        display: flex;

        // align-items: center;
        .aboutWhoWeAre {
            width: 60%;
            // padding: 2rem 0;
            margin-top: 2rem;

            // h1 {
            //     // text-align: center;
            //     color: $white;

            //     span {
            //         color: $orange;
            //     }
            // }

            p {
                color: $white;
                text-align: justify;
            }

            hr {
                margin: 3rem 0;
                color: $orange;
            }
           

            .numbers {
                display: flex;

                h2 {
                    margin: 0 200px 0 0;
                }
            }
        }

        .AboutFounderImages {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
                img {
                    width: 250px;
                    height: auto;
                }

        }
    }
    .main_btn{
        width: fit-content !important;
    }
}

.TargetSectors {


    .TargetSectorsContainer {
        width: 100%;
        margin: 3rem 0;

        .row1 {
            width: 100%;
            display: flex;  
            gap: 20px;

            .box {
                width: 50%;
                // box-shadow: $shadow;
                // background: $white;
                border: 2px dotted gray;
                min-height: 15rem;
            }
        }

        .row2 {
            width: 100%;
            display: flex;

            gap: 20px;
            margin-top: 20px;
            .box {
                width: calc(100% / 3);
                min-height: 15rem;
                // box-shadow: $shadow;
                // background: $white; 
                border: 2px dotted gray;
            }
        }
        img{
            width: 100%;
            height: auto;
        }
    }
}

.Careers {
    width: 100%;
    padding: 0 3%;

    .CareersContainers {
        width: 100%;
        margin: 3rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: auto;
        gap: 20px;

        // place-items: center;
        .item {
            background: $white;
            box-shadow: $shadow;
            border-left: 4px solid $orange;
            display: grid;
            place-items: center;

            h5 {
                margin: 20px 0;
            }
        }


    }
}

.OurAffiliates {
    width: 100%;
    padding: 0 3%;

    .AffiliatesHeading {
        margin: 3rem 0;
        width: 100%;

        .heading {
            height: 100%;
            display: flex;
            align-items: center;

            img {
                width: 200px;
                height: auto;
            }

            .ContentContainer {
                border-left: 3px solid $orange;
                height: 100%;
                margin: 0 3%;
                padding: 0 1%;

                h4 {
                    color: $orange;
                }

                p {
                    color: $white;
                }
            }
        }

        .AboutAffiliates {
            margin-top: 5rem;
            color: $white;
        }

        .Screens {
            .link {
                width: 100%;
                min-height: 300px;
                background: $offwhite;

            }
        }
    }

    hr {
        color: $orange;
    }
}